/* custom CSS stylesheet */
/* desktops and laptops */
@media only screen 
and (min-width : 768px) {
img {
    float: none !important;
}

.thumbnail {
    float: left;
    width: 33%;
    height: auto;
}
}
/* mobiles landscape and portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
}